@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gears Sender</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What's Next</h2>
        <p>
            Landing page, will show roll up of profiles? and have a spot to apply a profile to an email and hit submit?
            edit page for profiles that includes the edits. 



        </p>
    </div>
</div>